<div id="card" >
    <div class="close_show">
        <span aria-hidden="true" class="close_about">&times;</span>
    </div>
    <%= image_tag "1.jpg" , :class => "show_my_pic" %>
    <span class="show_name">Alan</span>
    <span class="show_name">Birthday:0528</span>
    <span class="show_name">大學：靜宜大學資管系</span>
    <span class="show_name">Hello~</span>
</div>
