<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-12">
        <div class="col-xl-12 text-muted" style="font-size: 1em; padding-top:40px;">
          <center>
            Copyrights © 2018 Alan. All Rights Reserved.
          </center>
        </div>
      </div>
    </div>
  </div>
</footer>
